<h1>Dashboard</h1>

<h2>Number of responses with the word "banana" in them: <%= @banana_response_count %></h2>

<h2>Number of responses from Abraham Lincoln: <%= @lincoln_response_count %></h2>

<h2>10 most recent responses</h2>
<% @recent_responses.each do |response| %>
  <%= render("response_card", response: response)%>
<% end %>

<h2>Tagged Responses</h2>
<%= @tagged_responses %>

<form>
<input type="text" placeholder="tag name"/>
<button type="submit">Search for responses</button>
</form>
